{# templates/addMoney.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Añadir Dinero{% endblock %}

{% block body %}
    <h1>Añadir Dinero</h1>

    {{ form_start(form) }}
    {{ form_row(form.money) }}
    {{ form_end(form) }}
{% endblock %}