<form method="post" action="{{ path('app_lottery_delete', {'id': lottery.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lottery.id) }}">
    <button class="btn">Delete</button>
</form>
