{% extends 'base.html.twig' %}

{% block title %}Edit Lottery{% endblock %}

{% block body %}
    <h1>Edit Lottery</h1>

    {{ include('lottery/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_lottery_index') }}">back to list</a>

    {{ include('lottery/_delete_form.html.twig') }}
{% endblock %}
